# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Djangoproject\mysite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
